doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        link(src='https://fonts.googleapis.com/css?family=Open+Sans:400,700')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='/javascripts/global.js')